.multiple-item-container{
    background: #ddd;
    padding: 5px;
    margin: 10px 5px;
}
.multiple-item-container span{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 5px 10px;
    display: inline-block;
    margin: 5px;
    font-size: 12px;
}
body .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border-color: #367fa9;
    padding: 1px 10px;
    color: #fff;
}
body .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #000;
}
.my-color{
    background-color: #3c8dbc !important;
}
.checkbox{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);

/*    margin:0;
    padding: 0;
    float: none;*/
}
.earlystage {
    margin-left: 20px;
    padding-bottom: 5px;
}

h5.CalQuestion {
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: #666;
    line-height: 1.42857143;
    font-family: inherit !important;
}
.Questions{
    border-bottom: 1px solid #d2d6de;
    font-family: inherit !important;
}
.Questions label {
    display: block;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
.Questions label input[type=radio] {
    margin: 4px 6px 0px;
    margin-top: 1px;
    line-height: normal;
    float: left;
}
p.nexttestheading {
    margin: 25px 20px;
    font-size: 18px;
}
.nextquestion label{
    font-size: 17px;
    display: block;
}
input.nextquestions {
    float: left;
    margin: 6px 9px 0 22px;
}
.innotest {
    margin: 0px 20px;
}
.innotest .Questions{
    border-bottom: 1px solid #d2d6de;
    font-family: inherit !important;
}
.innotest .Questions label {
    display: block;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
input.innovalue {
    float: left;
    margin: 16px 13px 0 0;
}
.printest {
    margin: 0 0 0 20px;
}
button.btn.show_result {
    background-color: #337ab7;
    color: #fff;
    padding: 5px 20px;
    min-width: 110px;
    margin: 20px;
}
.innotest .CalQuestion{
    display: inline-block  !important;
}
#CalculatorQuestions input#date-picker-example {
    width: 25% !important;
}

.CalculatorQuestionsresult_modal{
    padding-top: 10%;
    width: 100%;
}
.CalculatorQuestionsresult_modal .modal-dialog {
    width: 36%;
}
#CalculatorQuestions .errors{
    color: red;
}



